# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/

# Local DB / data dumps
wwe.db
/data/
/*.csv

# Virtualenv
.venv/

# macOS
.DS_Store

# Editor swap files
*.swp

# Docker
docker-compose.override.yml

.vscode/settings.json
